name: scala-steward
on:
  push:
  schedule:
  - cron: '0 5 * * *'
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: laughedelic/coursier-setup@v1
    - run: cs install scalafmt
    - name: Launch Scala Steward
      if: ${{ !github.event.repository.fork }}
      uses: xuwei-k/scala-steward-action@e6f6760c01214a4735a4c8a025b9350cee040a11
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
