name: scala-steward
on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 5 * * *'
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Generate token
      id: generate_token
      if: ${{ !github.event.repository.fork }}
      uses: tibdex/github-app-token@v1
      with:
        app_id: 89631
        private_key: ${{ secrets.SCALIKEJDBC_BOT_KEY }}
    - name: Launch Scala Steward
      if: ${{ !github.event.repository.fork }}
      uses: scala-steward-org/scala-steward-action@v2.12.0
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74833019+scalikejdbc-bot[bot]@users.noreply.github.com"
        author-name: scalikejdbc-bot[bot]
