name: scala-steward
on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 5 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'scalikejdbc' }}
    timeout-minutes: 10
    steps:
    - name: Generate token
      id: generate_token
      uses: tibdex/github-app-token@v1
      with:
        app_id: 89631
        private_key: ${{ secrets.SCALIKEJDBC_BOT_KEY }}
    - name: Launch Scala Steward
      uses: scala-steward-org/scala-steward-action@v2.56.0
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74833019+scalikejdbc-bot[bot]@users.noreply.github.com"
        author-name: scalikejdbc-bot[bot]
        branches: "master,4.0.x,3.5.x"
