name: Windows
on:
  pull_request:
  push:
  schedule:
  - cron: '0 18 * * 6'
jobs:
  test:
    timeout-minutes: 30
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: temurin
    - uses: coursier/cache-action@v8
    - run: rm project/sbt-pgp.sbt
    # TODO: improve the stability of this test; it occurs only with Windows test job
    - run: echo 'ThisBuild / Test / testOptions += Tests.Exclude(Seq("basic_test.accounts.AccountDatabaseSpec"))' > skip-tests.sbt
    - shell: bash
      run: ./test.sh
